/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ---------------------------------
            common css / utility
-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1160px;
}
#news,
#contact-us,
#navbar,
#home,
#player,
#highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* button style start */
.link__btn {
  background-color: #e02c6d;
  color: #fff;
  padding: 7px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
.link__btn:hover {
  animation-name: animation-btn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.link__btn span {
  margin-right: 5px;
}

@keyframes animation-btn {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
/* button style end*/

/*------------------------------------
                    navbar
  ------------------------------------*/

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#navbar {
  background-color: #2d25a0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  padding: 20px 0;
}
.nav-toggle-btn {
  display: none;
}
.nav-toggle-btn .fas {
  font-size: 24px;
  color: #fff;
  padding: 15px;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-link {
  margin-right: 5px;
}
.nav-link a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 12px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-link a:hover {
  background-color: #ffffff2f;
}

.login-btn .link__btn i {
  margin-right: 5px;
}

/*------------------------------------
                home section
  ------------------------------------*/

#home {
  background-color: #2d25a0;
}

.home {
  display: flex;
  flex-direction: row;
  margin: 70px 15px;
}
.home-content,
.home-image {
  flex: 50%;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-content .content-header {
  margin-bottom: 25px;
}
.home-content .content-header h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.home-image img {
  width: 100%;
}

.home-image img {
  animation-name: animation-image;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes animation-image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*------------------------------------
                player section
  ------------------------------------*/

.player {
  margin: 70px 15px;
}

.player-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.player-item {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  border: 1px solid rgba(221, 221, 221, 0.322);
}
.player-item:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.player-item .player-image {
  overflow: hidden;
}
.player-item .player-image img {
  width: 100%;
  transition: all 0.5s ease;
}
.player-item:hover .player-image img {
  transform: scale(1.2);
}

.player-deader {
  margin: 15px 0;
}
.view-more-button {
  margin-top: 15px;
}

/*------------------------------------
                all highlisht section
  ------------------------------------*/

.highlights {
  display: flex;
  flex-direction: row;
  margin: 70px 15px;
}

.highlights-content,
.highlights-image {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlights-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.highlights-content p {
  width: 80%;
}
.watch-button {
  margin: 20px 0;
}

.highlights-image img {
  width: 100%;
}

/*------------------------------------
                 contact us
  ------------------------------------*/

.news {
  margin: 70px 15px;
}

.news-header h1 {
  font-size: 48px;
  color: #1a1919;
  margin-bottom: 40px;
  text-align: center;
}

.news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.news-item {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.news-item img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.news-item .news-content {
  margin: 0px 15px 0px 15px;
  line-height: 1.2;
}

.news-content small {
  color: #757575;
  font-weight: 600;
  margin: 15px 0;
  display: inline-block;
}

.news-content h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}

.icon-wrapper ul {
  display: flex;
  list-style: none;
  margin: 15px 0;
}

.icon-wrapper ul li {
  margin-right: 5px;
  cursor: pointer;
}
.icon-wrapper ul li i {
  transition: all 0.2s ease;
}
.icon-wrapper ul li:hover i {
  color: #e02c6d;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

/*------------------------------------
                 contact us
  ------------------------------------*/
#contact-us {
  background-color: #2d25a0;
}
.contact-us-wrapper {
  margin: 70px 0;
  display: flex;
  justify-content: center;
}

.contact-us {
  display: flex;
  align-items: center;
}
.details,
.get-in-touch {
  flex: 50%;
}
.details {
  padding: 20px;
}
.details .title {
  font-size: 35px;
  color: #fff;
}

.details .location,
.details .mail,
.details .number {
  font-size: 18px;
  color: #aaaaaa;
  display: flex;
  margin: 15px 0;
  align-items: center;
}
.details div .icon-div {
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon .social-links {
  display: flex;
  margin-bottom: 20px;
}

.social-links .social-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e7e7e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
  transition: all 0.2s linear;
}

.social-link:hover {
  transform: scale(1.2);
  background-color: #e02c6d;
  color: #fff;
}

.social-link .social-link i {
  font-size: 18px;
  color: #969bab;
}
.copyright {
  color: #aaaaaa;
}

.form-wrapper {
  display: flex;
}
.form-wrapper input {
  flex: 50%;
  margin: 0 20px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.textarea-wrapper {
  width: 100%;
  display: flex;
}

form textarea {
  margin: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.submit__btn {
  margin: 0 20px;
  padding: 10px 25px;
  font-size: 18px;
  background: #e02c6d;
  color: #fff;
  border: none;
  cursor: pointer;
}
.submit__btn:hover {
  animation-name: animation-btn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

/*------------------------------------
                        footer
  ------------------------------------*/

.footer {
  margin: 70px 0;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item img {
  width: 100%;
  max-width: 480px;
}

/*------------------------------------
                    media query
  ------------------------------------*/

@media only screen and (max-width: 1000px) {
  .home-content .content-header h1 {
    font-size: 50px;
  }
  .highlights-content h1 {
    font-size: 40px;
  }
  .contact-us {
    flex-direction: column;
    align-items: normal;
    max-width: 600px;
    width: 100%;
  }
  .details,
  .get-in-touch {
    flex: 100%;
  }
  .news-item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-header h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 800px) {
  .home-content .content-header h1 {
    font-size: 45px;
  }
  .nav-items {
    display: none;
  }
  .nav-toggle-btn {
    display: block;
  }
  .highlights-content h1 {
    font-size: 35px;
  }
}
/* tablet pc  */

@media only screen and (max-width: 768px) {
  .login-btn .link__btn {
    font-size: 14px;
  }
  .navbar {
    padding: 10px 0;
  }
  .home {
    flex-direction: column-reverse;
  }
  .home-content,
  .home-image {
    flex: 100%;
  }
  .home-image {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .home-image img {
    width: 80%;
  }
  .player-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlights {
    flex-direction: column;
  }
  .footer-item img {
    width: 100%;
    max-width: 300px;
  }
  .news-cards {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 568px) {
  .home-content .content-header h1 {
    font-size: 40px;
  }
  .highlights-content h1 {
    font-size: 30px;
  }
  .player-cards {
    grid-template-columns: 1fr;
  }
  .footer-item img {
    width: 100%;
    max-width: 230px;
  }
  .form-wrapper {
    flex-direction: column;
  }
  .form-wrapper input:first-child {
    margin-bottom: 20px;
  }
}
