/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* common css / utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link__btn {
}
